* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ccc;
    margin: 0;
}

#whole{
    background: url(./img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    /* max-width: 700px;
    margin: 10px auto;
    justify-content: center;
    align-items: center; */
}

#apply {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 35px;
    background-color: white;
    border-radius: 10px;
}

span {
    font-size: 20px;
}

#formcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

#formcont {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 15px;
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

#textareacont{
    grid-column: 1 / span 2;
}

#textareacont textarea{
    max-width: 100%;
}

@media (max-width: 460px) {
    #whole{
        min-height: 80vh;
    }
    #apply {
        max-width: 350px;
    }
  } ;